:host {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.header {}

.header h2 {
    margin: 10px 15px 5px;
}

.header h4 {
    margin: 0 15px;
    opacity: 0.6;
}

.manga-sites-wrapper {
    position: absolute;
    top: 60px;
    bottom: 140px;
    right: 0;
    left: 0;
    margin: 25px 0 15px;
    overflow: hidden;
    overflow-y: auto;
}

.manga-sites-wrapper > .wp1 {

}

ul.manga-sites {
    /*margin: 25px 0 15px;
    position: absolute;
    top: 60px;
    bottom: 135px;
    width: 100%;
    overflow-y: auto;*/
}

ul.manga-sites > li {
    padding: 5px 15px;
    opacity: 0.6;
    cursor: pointer;
}

ul.manga-sites > li > * {
    vertical-align: middle;
}

ul.manga-sites > li.title:not(:first-child) {
    margin-top: 15px;
}

ul.manga-sites > li.title {
    text-transform: uppercase;
}

ul.manga-sites > li.title:hover {
    opacity: 1;
}

ul.manga-sites > li:not(.title):hover {
    background-color: #4A5664;
}

ul.manga-sites > li > img {
    width: 16px;
}

ul.tools {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

ul.tools > li {
    padding: 5px 15px;
    opacity: 0.6;
}

ul.tools > li:hover {
    opacity: 1;
}

ul.tools > li > * {
    vertical-align: middle;
}

ul.tools > li > img {
    width: 24px;
}

ul.tools > li > .name {}