<div class="header">
    <h2>Manga Bot</h2>
    <h4 class="version">
        v3.0.0 <span class="last-updated-date">(2016-09-30)</span>
    </h4>
</div>

<div class="manga-sites-wrapper">
    <ul class="manga-sites">
        <li [routerLink]="['/manga']" class="title">Vietnamese ({{vnSites.length}})</li>
        <li *ngFor="let ms of vnSites" [routerLink]="['/manga', siteEnumHelper.getStringValue(ms.site)]" [routerLinkActive]="['active']">
            <img [src]="'assets/logo/' + siteEnumHelper.getStringValue(ms.site) + '.png'">
            <span class="name">{{ms.name}}</span>
        </li>

        <li [routerLink]="['/manga']" class="title">English ({{enSites.length}})</li>
        <li *ngFor="let ms of enSites" [routerLink]="['/manga', siteEnumHelper.getStringValue(ms.site)]" [routerLinkActive]="['active']">
            <img [src]="'assets/logo/' + siteEnumHelper.getStringValue(ms.site) + '.png'">
            <span class="name">{{ms.name}}</span>
        </li>
    </ul>
</div>

<ul class="tools">
    <li>
        <img src="assets/icon/link.svg">
        <a [routerLink]="['/grabber']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="name">Grabber</a>
    </li>
    <li>
        <img src="assets/icon/link.svg">
        <a [routerLink]="['/converter']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="name">Converter</a>
    </li>
    <li>
        <img src="assets/icon/link.svg">
        <span class="name">Renamer</span>
    </li>
    <li>
        <img src="assets/icon/link.svg">
        <span class="name">Settings</span>
    </li>
</ul>