<section class="banner ui fluid container">
    <h2 class="ui header">
        <img [src]="'assets/logo/brand.png'" class="ui mini image">
        <div class="content">Manga Bot</div>
    </h2>

    <div class="collapsed-menu pull-right">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</section>

<section class="notifications ui fluid container">
    <i class="close icon"></i>

    <h3 class="ui header">
        <i class="browser icon"></i>
        <div class="content">Notifications</div>
    </h3>

    <div class="ui middle aligned divided list">
        <div class="item">
            <div class="content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
        </div>
    </div>

    <div class="ui dot pagination horizontal list">
        <a class="item"></a>
        <a class="item"></a>
        <a class="item"></a>
    </div>

</section>

<section class="categories ui fluid container">
    <h3 class="ui header">
        <i class="folder open outline icon"></i>
        <div class="content">Category</div>
    </h3>

    <div class="ui list">

        <div class="ui horizontal divider"> Vietnamese </div>

        <div *ngFor="let ms of vnSites" class="item">
            <img class="ui avatar image" [src]="'assets/logo/' + ms.logo">
            <div class="content">
                <a [routerLink]="['/sites', siteEnumHelper.getStringValue(ms.site)]" routerLinkActive="active" class="header">{{ms.name}}</a>
                <div class="description">
                    <a href="{{ms.domain}}" target="_blank">{{ms.domain}}</a>
                </div>
            </div>
        </div>

        <div class="ui horizontal divider"> English </div>

        <div *ngFor="let ms of enSites" class="item">
            <img class="ui avatar image" [src]="'assets/logo/' + ms.logo">
            <div class="content">
                <a [routerLink]="['/sites', siteEnumHelper.getStringValue(ms.site)]" routerLinkActive="active" class="header">{{ms.name}}</a>
                <div class="description">
                    <a href="{{ms.domain}}" target="_blank">{{ms.domain}}</a>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="tools ui fluid container">

    <div class="ui large list">
        <div class="item">
            <i class="crosshairs icon"></i>
            <div class="content">
                <a class="header">Grabber</a>
                <div class="description"></div>
            </div>
        </div>

        <div class="item">
            <i class="wizard icon"></i>
            <div class="content">
                <a class="header">Converter</a>
                <div class="description"></div>
            </div>
        </div>

        <div class="item">
            <i class="setting icon"></i>
            <div class="content">
                <a class="header">Settings</a>
                <div class="description"></div>
            </div>
        </div>

    </div>
</section>