<section class="manga-list">
    <div class="filter-bar">
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>

    <div class="ui divided list">
        <div *ngFor="let manga of mangaList" class="item">
            <img class="ui avatar image" [src]="manga.thumbnail">
            <div class="content">
                <a [routerLink]="[manga.id]" class="header">{{ manga.name }}</a>
                <div class="description">{{ manga.url }}</div>
            </div>
        </div>
    </div>
</section>

<section class="manga-detail">
    <router-outlet></router-outlet>
</section>