#lm-delete .header {
    border-bottom: none;
    padding-bottom: 0px;
    background: #F7F7F7;
}

#lm-delete .header .title {
    font-size: 14xpx!important;
}

#lm-delete .header .title .icon {
    color: #EBBB34;
}

#lm-delete .content {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #F7F7F7;
}

#lm-delete .content .info {
    padding-bottom: 10px;
}

#lm-delete .actions {
    border-top: none; 
    background: #F7F7F7;
}

