<div class="site-list">
  <div class="site">
    <label>Vietnamese</label>

    <ul class="list">
      <li *ngFor="let site of vnSites"
          [routerLink]="[site.id]"
          class="item">
        <img [src]="site.logo">{{site.name}}
      </li>
    </ul>
  </div>

  <div class="site">
    <label>English</label>

    <ul class="list">
      <li *ngFor="let site of enSites"
          [routerLink]="[site.id]"
          class="item">
        <img [src]="site.logo">{{site.name}}
      </li>
    </ul>
  </div>
</div>
