.site-list {
  padding: 1.5em 2em;
  .site {
    margin-top: 3em;
    &:first-child {
      margin-top: 0;
    }
    label {
      display: block;
      margin-bottom: 0.75em;
    }
    .list {
      // background-color: #151b42;
      overflow: hidden;
      >.item {
        color: #fff;
        padding: 0.75em 0.85em;
        margin-left: 1rem;
        border: 2px solid #151b42;
        cursor: pointer;
        float: left;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          border-color: #fff;
        }
        img {
          width: 36px;
          height: 36px;
          vertical-align: middle;
          margin-right: 1em;
          border-radius: 50%;
        }
      }
    }
  }
}
