<div class="site-list">
  <div class="site">
    <label>Vietnamese</label>

    <ul class="list">
      <li class="item">
        <img src="assets/sites/blogtruyen.jpg"> Blogtruyen
      </li>
      <li class="item">
        <img src="assets/sites/blogtruyen.jpg"> Blogtruyen
      </li>
      <li class="item">
        <img src="assets/sites/blogtruyen.jpg"> Blogtruyen
      </li>
      <li class="item">
        <img src="assets/sites/blogtruyen.jpg"> Blogtruyen
      </li>
      <li class="item">
        <img src="assets/sites/blogtruyen.jpg"> Blogtruyen
      </li>
    </ul>
  </div>

  <div class="site">
    <label>English</label>

    <ul class="list">
      <li class="item">
        <img src="assets/sites/mangafox.png"> Mangafox
      </li>
      <li class="item">
        <img src="assets/sites/mangafox.png"> Mangafox
      </li>
      <li class="item">
        <img src="assets/sites/mangafox.png"> Mangafox
      </li>
      <li class="item">
        <img src="assets/sites/mangafox.png"> Mangafox
      </li>
    </ul>
  </div>
</div>
