.navigation-bar {
    background-color: #F0F0F0!important;
    border-bottom: 1px solid #E0E0E0!important;
}
.navigation-bar .item {margin:0px!important;}
.navigation-bar .item .app-name {
    color: #56575C;
    margin-left: 6px;
    line-height: 20px;
}
.navigation-bar .blue.item {
    color: #56575C;
    padding-left: 25px;
    padding-right: 25px;
}
.navigation-bar .logo.item {
    margin-right: 50px!important;
    padding: 5px 15px;
}
.navigation-bar .logo.item img {
    height: 30px;
    width: 30px;
}
.navigation-bar .dropdown .menu .item .content {
    font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
}
.navigation-bar .dropdown .menu .item i {
    font-size: 30px!important;
    width: 24px!important;
    height: 15px!important;
    margin: 5px 12px 5px 0px!important;
    color: #3e3e3e;
}
.navigation-bar .dropdown .menu .item .content .header {
    font-weight: 400;
}
.navigation-bar .dropdown .menu .item .content .description {
    color: #595959;
}

.navigation-bar .dropdown .menu .divider {
    margin-bottom: 0px;
}

.navigation-bar .csv-download-link {
    padding: 0px 0px 0px 15px!important;
    font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 13px!important;
    font-weight: 300!important;
    line-height: 30px;
}
