<div class="ui secondary pointing menu navigation-bar">
    <div class="logo item">
        <img src="assets/images/logo.png"> <span class="app-name">Contact Manager</span>
    </div>
    <a 
        (click)="navigate(['List'])"
        [class.active]="listId != 'all'" 
        class="blue item"
        >Lists</a>
    <a 
        (click)="navigate(['Contact', {listId: 'all'}])"
        [class.active]="listId == 'all'" 
        class="blue item"
        >Contacts</a>
    <div class="item">
        <div class="ui floating dropdown primary button">
            <span class="text">Create</span>
            <div class="menu">
                <div class="item" (click)="addNewContact()">
                    <i class="plus icon"></i>
                    <span class="content">
                        <div class="header">A contact</div>
                        <div class="description">Manually create with various information fields.</div>
                    </span>
                </div>
                <div class="item" (click)="addNewList()">
                    <i class="file outline icon"></i>
                    <span class="content">
                        <div class="header">A blank list</div>
                        <div class="description">Create then manually add contacts to list.</div>
                    </span>
                </div>
                <div class="item" (click)="importList()">
                    <i class="file text icon"></i>
                    <span class="content">
                        <div class="header">Import a file</div>
                        <div class="description">Using CSV files</div>
                    </span>
                </div>
                <div class="divider"></div>
                <a href="{{templateUrl}}" download class="csv-download-link"><i class="cloud download icon"></i> Download CSV template</a>
            </div>
        </div>
    </div>
</div>
