<div class="main-title-bar">
  <a class="menu-toggle">
    <i class="material-icons">menu</i>
  </a>

  <h3 class="title very-large-font">Manga Bot 3.0</h3>

  <ul class="right-menu">
    <li class="item">
      <a title="Close">
        <i class="material-icons large-font">close</i>
      </a>
    </li>
    <li class="item">
      <a title="Maximize">
        <i class="material-icons large-font">video_label</i>
      </a>
    </li>
    <li class="item">
      <a title="Minimize">
        <i class="material-icons large-font">remove</i>
      </a>
    </li>
  </ul>
</div>
