<!-- <div class="ui page top fixed centered menu">
  <div class="ui container">
    <div class="left menu">
      <a *ngIf="user.isB3Partner()"
         [routerLink]="['/views']"
         class="item">
        <i class="icon large chevron left"></i> Back
      </a>
    </div>

    <a class="item"
       routerLink="payments"
       routerLinkActive="active">
      Payments
    </a>
    <a class="last item"
       routerLink="credit_notes"
       routerLinkActive="active">
      Credit Notes
    </a>

    <div *ngIf="user"
         class="right menu">
      <a href="https://{{user.ownedDomain}}"
         target="_blank"
         class="item">
        <i class="home icon"></i> {{user.ownedDomain}}
      </a>
    </div>
  </div>
</div> -->
