#lm-import-matching .header {
    padding: 0;
    vertical-align: middle;
}
#lm-import-matching .header div {
    display: inline-block;
}
#lm-import-matching .header div.icon {
    border-top-left-radius: 3px; 
    background: #EBB215;
    padding: 8px 8px 7px 7px;
}
#lm-import-matching .header div.icon i {
    font-size: 20px;   
    color: #FFFFFF;
    margin: 0;
}
#lm-import-matching .header .title {
    margin-left: 5px; 
}
#lm-import-matching .content .matching label.title {
    font-weight: 400;
    display: block;
    margin: 5px 0px;
}
#lm-import-matching .content .field-matching {
    max-height: 250px;
    min-height: 200px;
    overflow-y: auto;
}
#lm-import-matching .content .field-matching td {
    padding: 7px 15px;
    border-bottom: 1px solid rgba(164, 172, 179, 0.15);
}
#lm-import-matching .content .field-matching td div.field {
    width: 132px;
}