#lm-warning .header {
    border-bottom: none;
    padding-bottom: 0px;
    background: #F7F7F7;
}
#lm-warning .header .title {
    font-size: 14xpx!important;
}
#lm-warning .header .title .icon {
    color: #EBBB34;
}
#lm-warning .content {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #F7F7F7;
}
#lm-warning .content .instruction {
    margin-top: 8px;
}
#lm-warning .actions {
    border-top: none; 
    background: #F7F7F7;
}
