.container {
  width: 370px;
  height: 100%;
  background: var(--bg-color-1);
}

.searchInput {
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--bg-color-2);
}

.title {
  padding: 0.8rem 0;
  height: 64px;
}
