<div *ngFor="#message of messages" class="notification">
    <table>
        <tr>
            <td [class.error]="isError(message)" class="status">
                <div>
                    <i 
                        [class.checkmark]="!isError(message)"
                        [class.close]="isError(message)"
                     class="icon"></i>
                </div>
            </td>
            <td class="content">
                <i class="close icon" (click)="close()"></i>
                <div class="header">
                    {{message.header}}
                </div>
                <div><span class="meta">{{message.meta}}</span> {{message.description}}</div>
                <div *ngIf="message.link"><a href="#" [routerLink]="message.link.route">{{message.link.text}}</a></div>
                <div class="clear"></div>
            </td>
        </tr>
    </table>
</div>
