<div class="table-content">
    <div class="empty-table" *ngIf="initialized && contactLists.length == 0">
        NO RECORD FOUND
    </div>
    <table class="ui very basic single line padded table" *ngIf="contactLists.length > 0">
        <thead>
            <tr>
                <th></th>
                <th class="name">
                    <checkbox [id]="'select-all-list'" 
                        (onChecked)="selectAll($event)"
                        (onUnchecked)="clearSelection($event)"
                    ></checkbox>
                    <i class="caret down icon"></i> Name
                </th>
                <th>Quantity</th>
                <th>Emails</th>
                <th>Phones</th>
                <th>
                    Last updated
                    <button (click)="refresh.emit(true)" [class.loading]="loading" class="ui basic icon button refresh">
                        <i class="refresh icon"></i>
                    </button>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#contactList of contactLists" (click)="showList($event, contactList)">
                <td></td>
                <td class="name">
                    <checkbox [class]="'list-item-selector'" 
                              [id]="contactList.id"
                              [data]="contactList"
                        (onChecked)="selectList($event)"
                        (onUnchecked)="clearListSelection($event)"
                    ></checkbox>
                    <i [class.fav]="contactList.stared" [class.empty]="!contactList.stared" class="star icon child-control" (click)="star(contactList)"></i>                    
                    <span>{{contactList.name}}</span>
                    <div *ngIf="contactList.numberOfDuplications && contactList.numberOfDuplications > 0" 
                        (click)="showListDuplication(contactList)"
                        class="duplication-info child-control">
                        <i class="copy icon child-control"></i> 
                        <span class="child-control">{{contactList.numberOfDuplications}} duplicate<span *ngIf="contactList.numberOfDuplications > 1">s</span></span>
                    </div>
                </td>
                <td>{{contactList.numberOfContacts}}</td>
                <td>{{contactList.numberOfEmails}}</td>
                <td>{{contactList.numberOfPhones}}</td>
                <td>{{contactList.updatedAt | timeFromNow}}</td>
                <td>
                    <div></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>