.table-content .empty-table {
    width: 100%;
    font-weight: 400;
    text-align: center;
    padding: 15px;
}
.table-content thead { 
    background: #F6F6F6;
}
.table-content  td.name { 
    width: 40%;
}

.table-content  th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #999C9E!important;font-weight:normal!important;border:none!important;
}

.table-content th .button.refresh {
    padding: 5px;
    float: right;
}

.table-content  tbody {
    background-color: #fff;
}
.table-content  tbody tr:first-child td {
    border:none!important;
}
.table-content  tr {
    cursor: pointer;
}
.table-content tr th:first-child, 
.table-content tr th:last-child, 
.table-content tr td:first-child, 
.table-content tr td:last-child {
    width: 15px;
    border: none!important;
}
.table-content td {
    color: #595959;
}
.table-content .na {
    color: #CAC9CE!important;
}
.table-content  tbody tr:last-child td {
    font-size:1px;
}
.table-content  .ui.checkbox {
    min-height: 14px!important;
    line-height: 16px!important;
    min-width: 12px!important;
}
.table-content  .star.icon {
    font-size: 14px;
}
.table-content  .fav.star.icon {
    color: #EBB215;
}
.table-content  .duplication-info {
    margin-left: 5px;
    border-radius: 15px;
    display: inline-block;
    border: 1px solid #EBB215;
    font-size: 11px;
    padding: 1px 5px;
}

.table-content  .duplication-info .icon {
    color: #EBB215;
}

.table-content {
    background: #fff;
}
.table-content tr.selected td {
    background: #F3F3F3;
}