<div class="table-content">
    <div class="empty-table" *ngIf="initialized && contacts.length == 0">
        NO RECORD FOUND
    </div>
    <table class="ui very basic single line padded table" *ngIf="contacts.length > 0">
        <thead>
            <tr>
                <th></th>
                <th class="name">
                    <checkbox [id]="'select-all-contact'" 
                        (onChecked)="selectAll($event)"
                        (onUnchecked)="clearSelection($event)"
                    ></checkbox>
                    <i class="caret down icon"></i> Name
                </th>
                <th>Email</th>
                <th>Phone</th>
                <th>
                    Job title
                    <button (click)="refresh.emit(true)" [class.loading]="loading" class="ui basic icon button refresh">
                        <i class="refresh icon"></i>
                    </button>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#contact of contacts" [class.selected]="selectedContactId==contact.id" (click)="viewContact($event, contact)">
                <td></td>
                <td class="name">
                    <checkbox [class]="'contact-item-selector'" 
                              [id]="contact.id"
                              [data]="contact"
                        (onChecked)="selectContact($event)"
                        (onUnchecked)="clearContactSelection($event)"
                    ></checkbox>
                    <i [class.fav]="contact.stared" [class.empty]="!contact.stared" class="star icon child-control" (click)="star(contact)"></i>                    
                    <span [class.na]="!contact.name">{{contact.name && contact.name.trim().length ? contact.name : 'n/a'}}</span>
                    <div *ngIf="contact.duplicateIds.length > 0" 
                        (click)="showDuplicationInfo(contact)"
                        class="duplication-info child-control">
                        <i class="copy icon child-control"></i> 
                        <span class="child-control">duplicate with {{contact.duplicateIds.length}}</span>
                    </div>
                </td>
                <td [class.na]="!contact.defaultEmailAddress">{{contact.defaultEmailAddress ? contact.defaultEmailAddress : 'n/a'}}</td>
                <td [class.na]="!contact.defaultPhoneNumber">{{contact.defaultPhoneNumber ? contact.defaultPhoneNumber : 'n/a'}}</td>
                <td [class.na]="!contact.jobTitle">{{contact.jobTitle ? contact.jobTitle : 'n/a'}}</td>
                <td>
                    <div></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>