.list-table {
    background-color: #F6F6F6!important;
}
.list-table .footer {
    height: 40px;
    background-color: #E1E3E4;
}
.list-table .ui.segment {
    padding: 0px!important;
    margin: 0px;
    border: none;
    box-shadow: none;
    min-height: 50px;
}
.list-table .ui.segment .loader {
    margin: 0px;
    padding: 3px;
}