.pagination-bar {
    padding: 5px 10px;
    background-color: #F6F6F6;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}
.pagination-bar .indicator {
    float:right;
}
.pagination-bar div.menu {
    font-size: 13px!important;
    height: 26px!important;
    min-height: 26px!important;
    margin: 8px;
    box-shadow: none!important;
}
.pagination-bar div.menu .item {
    font-family: 'Source Sans Pro', sans-serif!important;
    min-width: 30px;
    color: #595959;
    font-size: 13px;
    font-weight: 300;
}
.pagination-bar .indicator .info {
    display: inline-block;
    color: #595959;
    font-size: 13px;
    padding: 12px 5px;
}
.pagination-bar .indicator {
    min-height: 30px;
}
.pagination-bar .indicator .item.disabled {
    cursor: not-allowed;
}