<div class="ui small modal" id="cm-duplication">
    <div class="header">
        <div class="icon"><i class="warning sign icon"></i></div>
        <div class="title"><span>{{duplication.total}}</span> DUPLICATES FOUND</div>
        <div class="info"><i class="info circle icon"></i> Mark contacts that are not duplicates to avoid being merged</div>
        <div class="clear"></div>
    </div>
    <div class="content">
        <div *ngIf="!loading">
            <div *ngFor="#duplicate of duplication.cases;#duplicateIndex=index" class="duplication">
                <div class="case">
                    <div class="number">{{duplicateIndex + 1}}.</div> 
                    <div>These accounts below have the same {{duplicate.type}} <span class="conflict">{{duplicate.title}}</span></div>
                </div>
                <div class="detail">
                    <div class="contact" *ngFor="#id of duplicate.ids;#contactIndex=index">
                        <div class="name" [class.conflict]="duplicate.type == 'name'">
                            {{contactMap[id].name}}
                        </div>
                        <div class="email" [class.conflict]="duplicate.type == 'email'">
                            <span *ngIf="duplicate.type != 'email'">{{contactMap[id].defaultEmailAddress}}</span>
                            <span *ngIf="duplicate.type == 'email'">{{duplicate.title}}</span>
                            <span *ngIf="contactMap[id].emails && contactMap[id].emails.length > 1" class="more" [attr.data-html]="getMoreEmailInfo(id, duplicate)">+1 more</span>
                        </div>
                        <div class="phone" [class.conflict]="duplicate.type == 'phone'">
                            <span *ngIf="duplicate.type != 'phone'">{{contactMap[id].defaultPhoneNumber}}</span> 
                            <span *ngIf="duplicate.type == 'phone'">{{duplicate.title}}</span>
                            <span *ngIf="contactMap[id].phones && contactMap[id].phones.length > 1" class="more" [attr.data-html]="getMorePhoneInfo(id, duplicate)">+1 more</span>
                        </div>
                        <div class="info" *ngIf="getMoreInfo(id) != ''">
                            <span class="more" [attr.data-html]="getMoreInfo(id)">+1 info</span>
                        </div>
                        <div class="ui compact selection dropdown action" [class.main]="duplicate.mainIndex === contactIndex">
                            <i class="dropdown icon"></i>
                            <span class="text">
                                {{duplicate.getDuplicationType(contactIndex)}}
                            </span>
                            <div class="menu">
                                <div class="item" (click)="duplicate.markAsMain(contactIndex)">
                                    Main Contact
                                </div>
                                <div class="item" (click)="duplicate.markAsDuplicate(contactIndex)">
                                    Duplicate Contact
                                </div>
                                <div class="item" (click)="duplicate.markAsNotAduplicate(contactIndex)">
                                    Not a Duplicate
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div><a class="skip" (click)="hide()">Skip</a></div>
        <div class="ui button ok" (click)="markAllAsNotADuplicate()">Mark all as NOT a duplicate</div>
        <div class="ui primary ok button" (click)="merge()">Merge</div>
    </div>
</div>