<div class="navbar">
  <a class="back">
    <i class="material-icons md-36">arrow_back</i>
  </a>

  <div class="title">
    <h3>Blogtruyen</h3>
    <div>
      <span>1850 items</span>
      <span>/</span>
      <span>Last updated at 05:20 AM, Wed 25th 2018</span>
    </div>
  </div>
</div>

<div class="list-container">
  <table class="bordered">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>190</td>
        <td>Death Note Oneshot</td>
        <td>
          <a>Download</a>
        </td>
      </tr>
      <tr>
        <td colspan="3">

          <table>
            <tbody>
              <tr>
                <td>Death Note Chapter 1</td>
                <td>
                  <a>Download</a>
                </td>
              </tr>
              <tr>
                <td>Death Note Chapter 2</td>
                <td>
                  <a>Download</a>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
      <tr>
        <td>190</td>
        <td>Death Note Oneshot</td>
        <td>
          <a>Download</a>
        </td>
      </tr>
      <tr>
        <td>190</td>
        <td>Death Note Oneshot</td>
        <td>
          <a>Download</a>
        </td>
      </tr>
      <tr>
        <td>190</td>
        <td>Death Note Oneshot</td>
        <td>
          <a>Download</a>
        </td>
      </tr>
      <tr>
        <td>190</td>
        <td>Death Note Oneshot</td>
        <td>
          <a>Download</a>
        </td>
      </tr>
    </tbody>

  </table>
</div>
