<div class="navbar">
  <a [routerLink]="['../']"
     class="back">
    <i class="material-icons md-24">arrow_back</i>
  </a>

  <div class="title">
    <h3>{{activatedSite?.name}}</h3>
    <div>
      <span><b>{{activatedSite?.totalManga}}</b> items</span>
      <span>.</span>
      <span>Last updated at <b>{{activatedSite?.updatedDate | date:'yyyy-MM-dd hh:mm a'}}</b></span>
    </div>
  </div>
</div>

<div class="list-container">
  <div class="table">
    <div class="head">
      <div class="row">
        <div class="column">Name</div>
        <div class="column">Action</div>
      </div>
    </div>
    <div class="body">
      <ng-container *ngFor="let manga of mangaList">
        <div #mangaListRow
             manga-list-row
             [manga]="manga"
             class="row"></div>

        <div *ngIf="mangaListRow.expanded"
             class="row">
          <div #chapterList
               chapter-list
               [manga]="manga"
               class="column"></div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- <table class="bordered">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let manga of mangaList">
        <tr #mangaListRow
            manga-list-row
            [manga]="manga">

        </tr>

        <tr *ngIf="mangaListRow.expanded">
          <td #chapterList
              chapter-list
              [manga]="manga"
              colspan="3"></td>
        </tr>
      </ng-container>
    </tbody>

  </table> -->
</div>
