.navbar {
  margin-top: 1.25em;
  .back {
    position: absolute;
    background-color: #0065CB;
    color: #fff;
    padding: 0 8px;
  }
  .title {
    margin-left: 75px;
    h3 {
      margin: 0;
    }
  }
}

.list-container {
  padding: 1.5em 2em 1.5em 75px;
  table.bordered {
    width: 100%;
    border-collapse: collapse;
    >thead>tr>th {
      background-color: #1E234E;
      border-bottom: 1px solid #151A40;
      text-align: left;
      padding: 0.25em 0.75em;
    }
    >tbody>tr>td {
      background-color: #191E47;
      border-bottom: 1px solid #181C3D;
      padding: 0.25em 0.75em;
    }
  }
}
