.navbar {
  margin-top: 1.25em;
  .back {
    position: absolute;
    background-color: #0065CB;
    color: #fff;
    padding: 4px 8px;
  }
  .title {
    margin-left: 55px;
    h3 {
      margin: 0 0 .5rem;
    }
  }
}

$navbar-height: 41px;
$navbar-margin-top: 1.25em;
$list-container-padding-top: 1.5em;
.list-container {
  padding: 1.5em 2em 0 55px;
  height: calc(100% - #{$navbar-height} - #{$navbar-margin-top} - #{$list-container-padding-top} - 2.5em);
  .table {
    height: 100%;
    .column {
      &:first-child {
        width: 80%;
      }
      &:last-child {
        width: 20%;
      }
    }
  }
}
