#lm-create label {
    font-size: 14px;
    font-weight: 400;
}
#lm-create .list-name {
    display: inline-block;
}
#lm-create .message {
    display: inline-block;
    vertical-align: bottom;
    height: 38px;
    margin-left: 10px;
    color: #BC4040;
}
#lm-create input.error {
    background: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
}
#lm-create .star-control {
    float: right;
    font-weight: 300;
    color: #626163;
    font-size: 13px;
    user-select: none;
}
#lm-create .star-control .star {
    color: #EBB215;
    cursor: pointer;
}
#lm-create .star-control .empty.star {
    color: #626163;
}