.header-bar {
    padding: 45px 30px 10px 30px;
    background: #E1E3E4
}
.header-bar .name {
    font-weight: 300;
    font-size: 24px;
    color: #878888;
}
.header-bar .info {
    float: right;
    color: #5B5B5C;
    font-size: 35px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.header-bar .info .item  {
    display: inline-block;
}
.header-bar .info .item .count {
    display: inline-block;
    font-weight: 400;
}
.header-bar .info .item .title {
    display: inline-block;
    font-size: 14px;
}

.header-bar .info .item.duplication {
    color: #EBB215;
}

.header-bar .info .item.list .title {
    width: 55px;
}

.header-bar .info .item.duplication .title {
    width: 65px;
}