:host {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    border-right: 1px solid #e0e0e0;
    background-color: #303E4D;
    color: #FFFFFF;
    overflow: hidden;
}

.task-list-container {
    float: right;
    display: block;
    width: 220px;
    height: 100%;
    overflow: hidden;
    border-left: 1px solid #e0e0e0;
}

.main-content-container {
    margin-left: 221px;
    margin-right: 221px;
}