html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sites-sidebar { 
    width: 200px;
    height: 100%;
    border-right: 1px solid #e0e0e0;
    overflow: hidden;
    float: left;
    position: relative;
    
    > .logo {
        border-bottom: 1px solid #e0e0e0;
        padding: 10px 8px;

        > h3 {
            margin: 0;
        }
    }

    ul.languages {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin-top: 61px;
        overflow-x: hidden;
        overflow-y: auto;

        > li > .title {
            cursor: pointer;
        }
    }

    ul.sites {

        > li {
            overflow: hidden;
            cursor: pointer;

            &.active {
                border-bottom: 1px solid #e0e0e0;
                box-shadow: 2px 3px 10px #e0e0e0;
                cursor: default;
            }

            > img {
                float: left;
                width: 48px;
                margin-right: 5px;
            }

            > .info {

                > .name {

                }

                > .total { 

                }

                > .date {

                }

                > .noupdate {
                    color: #b9b9b9;
                }
            }
        }
    }
}

#mangalist-sidebar {
    float: left;
}

