<ul *ngIf="showTabbar"
    class="tab-bar">

  <li [routerLink]="['/sites']"
      routerLinkActive="active"
      class="active item">Sites</li>

  <li [routerLink]="['/tasks']"
      routerLinkActive="active"
      class="item">Tasks</li>

  <li [routerLink]="['/grabber']"
      routerLinkActive="active"
      class="item">Grabber</li>

  <li [routerLink]="['/converter']"
      routerLinkActive="active"
      class="item">Converter</li>

  <li [routerLink]="['/search']"
      routerLinkActive="active"
      class="item">Advanced Search</li>

</ul>


<div class="content-container">
  <router-outlet></router-outlet>
</div>
