#lm-import {
    width: 600px!important;
    margin-left: -300px;
}
#lm-import .upload-info span {
    float: right;
}
#lm-import .progress {
    width: 100%;
}
#lm-import .cancel-control {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
}
#lm-import label {
    font-size: 14px;
    font-weight: 400;
}
#lm-import .file-info {
    display: inline-block;
}
#lm-import .star-control {
    float: right;
    font-weight: 300;
    color: #626163;
    font-size: 13px;
    user-select: none;
}
#lm-import .star-control .star {
    color: #EBB215;
    cursor: pointer;
}
#lm-import .star-control .empty.star {
    color: #626163;
}
#lm-import .instruction div.icon {
    height: 54px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #626163;
}
#lm-import .instruction div.description {
    display: inline-block;
}
#lm-import .instruction div.header {
    color: #626163;
}
#lm-import #file {
    width: 0;
    height: 0;
    visibility: hidden;
}
#lm-import .ui.fluid.search.dropdown .dropdown.icon {
    visibility: hidden;
    padding: 0;
    width: 0;
}
#lm-import .ui.fluid.search.dropdown .menu .divider {
    margin-top: 0px;
}
#lm-import .ui.fluid.search.dropdown .menu .item {
    font-weight: 300;
}
#lm-import .ui.fluid.search.dropdown a.ui.label {
    font-weight: 300;
}
#lm-import .ui.fluid.search.dropdown .em {
    font-weight: 400;
}
#lm-import .ui.fluid.search.dropdown .star.icon {
    margin-left: 2px;
    margin-right: 0px;
    color: #EBB215;
}
#lm-import .ui.fluid.search.dropdown .menu .header {
    font-weight: bold;
    font-size: 13px;
    text-transform: none;
}
#lm-import .ui.selection.dropdown .menu > .message {
    padding: 1px 0px;
}
#lm-import input.hide {
    display: none;
}
