.contact-detail {
    padding: 10px 20px;
    width: 100%;
}

.contact-detail .icon.close {
    cursor: pointer;
    color: #8A8A8A;
    font-size: 13px;
    margin: 5px 0px;
}

.contact-detail div.left {
    display: inline-block;
}

.contact-detail .button {
    padding: 8px;
}

.contact-detail div.right {
    float: right;
}

.contact-detail div.right .ui.dropdown .menu {
    left: -82px;
}

.contact-detail .basic .title {
    color: #98A0A4;
    font-size: 15px;
    margin-bottom: 5px;
}

.contact-detail .basic .name {
    color: #635F67;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px; 
}

.contact-detail .basic .company {
    color: #6B6259;
    font-size: 14px;
    margin-bottom: 5px;
}

.contact-detail .record.location .icon{
    margin: 0px;
    font-size: 12px;
}

.contact-detail .record.location {
    color: #6B6259;
    font-size: 14px;
    margin-bottom: 5px;
}

.contact-detail .basic .duplication {
    border-radius: 9px;
    display: inline-block;
    border: 1px solid #EBB215;
    font-size: 11px;
    padding: 0px 8px;
    cursor: pointer;
}

.contact-detail .basic .duplication .icon {
    color: #EBB215;
}

.contact-detail .divider {
    width: 75px;
    height: 1px;
    background: #F1F1F1;
    margin: 10px 0px 7px 0px;
}

.contact-detail .record {
    padding-top: 15px; 
}

.contact-detail .record .header {
    font-weight: 400;
    color: #635F67;
}

.contact-detail .record .item {
    color: #6B6259;
    margin-top: 5px;
}

.contact-detail .record .item .label {
    display: inline-block;
    width: 40px;
    text-transform: capitalize;
    color: #98A0A4;
}

.contact-detail .record .item .copy {
    float: right;
    font-size: 11px;
    cursor: pointer;
}

.contact-detail .record .item a .note {
    color: #98A0A4;
}

.contact-detail .list.icon {
    color: #BEBEBE;
}