<div class="contact-header-bar">
    <span class="indicator">
        <i class="reply icon" (click)="back()"></i> back to LISTS OF CONTACT
    </span>
    <div *ngIf="contactList"  class="list-info">
        <div class="stitched"></div>
        <div class="content">
            <span class="name">{{contactList.name}} </span>
            <div class="actions"><i *ngIf="contactList.id != 'all'" [class.empty]="!contactList.stared" class="icon star"></i></div>
        </div>
        <div class="info">
            <div class="item list">
                <div class="count">
                    <span *ngIf="contactList.numberOfContacts < 10">0</span>{{contactList.numberOfContacts}}
                </div>
                <div class="title">
                    TOTAL
                    CONTACT<span *ngIf="contactList.numberOfContacts > 1">S</span>
                </div>
            </div>
        </div>
    </div>
</div>