<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular 2</title>
    <base href="{{APP_URL}}">
    <link rel="shortcut icon" type="image/png" href="assets/images/logo.png" />
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
    <mangabot></mangabot>

    <!-- inject:js -->
    <!-- endinject -->
    <script>
        <% if (isProd === false) { %>
            System.config({ 
                map: { <% _.forEach(map, function(v, k) { %> 
                    '<%= k %>': '<%= v %>',<% }); %> 
                }, 
                packages: { <% _.forEach(packages, function(v, k) { %> 
                    '<%= k %>': { <% _.forEach(v, function(v1, k1) { %> '${k1}': '${v1}', <%}); %> }, <% }); %> 
                }
            });
        <% } %>
        System.import('app').then(null, console.error.bind(console));
    </script>
</body>

</html>