<div class="navbar">

  <div class="title">
    <h3>Task List</h3>
  </div>
</div>

<div class="list-container">

  <div class="nowrap table">
    <div class="head">
      <div class="row">
        <div class="name column">Name</div>
        <div class="status column">Status</div>
        <div class="type column">Type</div>
        <div class="site column">Site</div>
        <div class="path column">Save To</div>
        <div class="options column"></div>
      </div>
    </div>

    <div class="body">
      <div class="row">
        <div class="name column">Death Note Chapter 1</div>
        <div class="status column">58%</div>
        <div class="type column">Chapter</div>
        <div class="site column">BlogTruyen</div>
        <div class="path column">C:\mangabot\Death Note Chapter 1</div>
        <div class="options text-right column">
          <a class="action">
            <i class="material-icons">more_vert</i>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="name column">Hunter x Hunter</div>
        <div class="status column">Completed</div>
        <div class="type column">Manga</div>
        <div class="site column">MangaFox</div>
        <div class="path column">C:\mangabot\Hunter x Hunter</div>
        <div class="options text-right column">
          <a class="action">
            <i class="material-icons">more_vert</i>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>
